
.main_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 70px 20px;
    gap: 40px;
    width: 100%;

}


.refresh{
    /* margin: 4rem ; */
    width: 70%;
    color: var(--main-icon-color);
    display: flex;
    align-items: start;
    gap: 1rem
}

.message_links{
    display: flex;
    align-items: center;
    color: var(--main-icon-color);
}

.link_box{
    display: flex;
    gap: 50px;
    height: 50px;
    width: 100%;
    border-top: 2px  solid #F4F4F4;

}

.active{
    color: rgb(2, 88, 2);
    border-bottom: 3px solid rgb(2, 88, 2);
}