.parent {
  display: grid;
  grid-template-columns: 30px 30px  170px auto 50px ;
  grid-template-rows: 1fr;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--main-text-color);
  min-height: 40px;
}


.parent:hover{
  box-shadow: 0px 2px 2px var(--shadow-color);
}

@media (max-width:481px) {
  .parent{
    grid-template-columns: 30px 30px   auto 50px ;
  }
  .ref{
    display: none;
  }
  
}

